<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/profile.css}">
    <title>MediaVerse</title>
</head>
<body>

<div th:replace="fragments/navbar"></div>

<section class="backgroundd">
    <section class="page-content">
        <div class="flex-container">
            <div class="flex-container-user-profile-row1-peoplepage" th:each="users: ${listUsers}">
                        <div class="flex-container-user-profile-row1-column1-peoplepage">
                            <form id="user-profile" th:action="@{/userProfile}" method="post" autocomplete="off">
                                <input type="text" id="friend__id" name="friend_id" th:value="${users.id}"
                                       class="form-control" hidden/>
                                <button type="submit" id="${post.user.id}" class="profileButton"><img th:src="'/get/image/' + ${users.userName}"/></button>
                            </form>
                        </div>
                    <div class="flex-container-user-profile-row1-column2-peoplepage">
                        <div class="flex-container-user-profile-row1-column2-peoplepage-row1">
                            <div class="flex-container-user-profile-row1-column2-peoplepage-row1-a" th:text="${users.firstName + ' ' + users.lastName}"></div>
                        </div>
                        <div class="flex-container-user-profile-row1-column2-peoplepage-row2">
                            <form th:if="${!friendRequests.contains(users)}" id="add-user" th:action="@{/sendFriendRequest}" method="post" autocomplete="off">
                                <input type="text" id="friend_id" name="friend_id" th:value="${users.id}"
                               class="form-control" hidden/>
                                <button id="${users.id}" type="submit" class="flex-container-button">Add</button>
                            </form>
                            <form th:if="${friendRequests.contains(users)}" id="add-user" th:action="@{/cancelFriendRequest}" method="post" autocomplete="off">
                                <input type="text" id="friend_id" name="friend_id" th:value="${users.id}"
                                       class="form-control" hidden/>
                                <button id="${users.id}" type="submit" class="flex-container-button-red">Cancel</button>
                            </form>
                        </div>
                    </div>





            </div>
        </div>
    </section>
</section>
</body>
</html>